.widget.lsx-projects .tagline + .lsx-projects-shortcode { margin-top: 0; }

.lsx-projects-archive-link-wrap { position: relative; margin-top: 6rem; overflow: hidden; }

.lsx-projects-archive-link { display: inline-block; position: relative; }

.lsx-projects-archive-link:before, .lsx-projects-archive-link:after { content: ''; display: block; height: 2px; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 999rem; }

.lsx-projects-archive-link:before { right: 120%; }

.lsx-projects-archive-link:after { left: 120%; }

.lsx-projects-shortcode { margin-top: -4rem; }

.lsx-projects-slot { background-color: #FFF; margin: 4rem auto 0; overflow: hidden; text-align: center; }

.entry-tabs .lsx-projects-slot { border-style: solid; border-width: 1px; }

.lsx-projects-slot .lsx-projects-avatar > img { width: 100%; }

.lsx-projects-slot .lsx-projects-title { margin: 2.4rem 0 1rem; padding: 0 2rem; }

.lsx-projects-slot .lsx-projects-groups { font-size: 13px; padding: 0 2rem; }

.lsx-projects-slot .lsx-projects-content { margin-top: 2rem; padding: 0 2rem; }

.lsx-projects-slot .lsx-projects-content p { margin-bottom: 0; }

.lsx-projects-slot .lsx-projects-content p + p { margin-top: 2.4rem; }

.lsx-projects-slot .lsx-projects-content .moretag { display: block; margin: 0 -2rem; padding: 1rem 0; text-align: center; transition: background 300ms ease; }

.lsx-projects-slot .lsx-projects-content .moretag:after { color: inherit; content: '\f178'; display: inline-block; font-family: 'FontAwesome'; font-size: inherit; margin-left: 5px; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@media (min-width: 992px) { #lsx-projects-slider, #lsx-products-slider { margin-left: auto; margin-right: auto; width: 100%; }
  #lsx-projects-slider.slick-has-arrows, #lsx-products-slider.slick-has-arrows { width: calc(100% - 8rem); } }

@media (min-width: 1280px) { #lsx-projects-slider, #lsx-products-slider { margin-left: -15px; margin-right: -15px; width: calc(100% + 30px); }
  #lsx-projects-slider.slick-has-arrows, #lsx-products-slider.slick-has-arrows { width: calc(100% + 30px); } }

.tab-pane #lsx-projects-slider, .tab-pane #lsx-products-slider { margin-left: -15px; margin-right: -15px; }

@media (min-width: 768px) { .tab-pane #lsx-projects-slider, .tab-pane #lsx-products-slider { margin-left: auto; margin-right: auto; width: 100%; }
  .tab-pane #lsx-projects-slider.slick-has-arrows, .tab-pane #lsx-products-slider.slick-has-arrows { width: calc(100% - 8rem); } }

#lsx-projects-slider .lsx-projects-slot.slick-slide, #lsx-products-slider .lsx-projects-slot.slick-slide { margin-left: 15px; margin-right: 15px; }

#lsx-projects-slider .slick-dots, #lsx-products-slider .slick-dots { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row wrap; flex-flow: row wrap; height: auto; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; list-style: none; margin: 2rem 0 0; padding: 0; }

#lsx-projects-slider .slick-dots > li, #lsx-products-slider .slick-dots > li { line-height: 1; padding: 5px; }

@media (min-width: 992px) { #lsx-projects-slider .slick-dots > li, #lsx-products-slider .slick-dots > li { padding: 0 7.5px; } }

#lsx-projects-slider .slick-dots > li > button, #lsx-products-slider .slick-dots > li > button { background: transparent; border-style: solid; border-width: 1px; font: 0/0 a; height: 12px; transition: all 300ms ease-in-out; width: 4rem; }

@media (min-width: 992px) { #lsx-projects-slider .slick-dots > li > button, #lsx-products-slider .slick-dots > li > button { height: 6px; } }

#lsx-projects-slider .slick-arrow, #lsx-products-slider .slick-arrow { background: transparent; border-radius: 50%; border-style: solid; border-width: 2px; font: 0/0 a; height: 4rem; margin-top: calc((2rem - 17px) / 2); opacity: 1; padding: 0; position: absolute; text-shadow: none; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); transition: border 300ms ease; width: 4rem; z-index: 3; }

#lsx-projects-slider .slick-arrow:before, #lsx-products-slider .slick-arrow:before { display: block; font-family: 'FontAwesome'; font-size: 3rem; line-height: 1; position: absolute; text-rendering: auto; top: 47%; -webkit-transform: translateY(-50%); transform: translateY(-50%); transition: color 300ms ease; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

#lsx-projects-slider .slick-arrow.slick-disabled, #lsx-products-slider .slick-arrow.slick-disabled { cursor: not-allowed; }

#lsx-projects-slider .slick-arrow.slick-prev, #lsx-products-slider .slick-arrow.slick-prev { left: -4rem; }

#lsx-projects-slider .slick-arrow.slick-prev:before, #lsx-products-slider .slick-arrow.slick-prev:before { content: '\f104'; left: 1.1rem; }

#lsx-projects-slider .slick-arrow.slick-next, #lsx-products-slider .slick-arrow.slick-next { right: -4rem; }

#lsx-projects-slider .slick-arrow.slick-next:before, #lsx-products-slider .slick-arrow.slick-next:before { content: '\f105'; left: 1.5rem; }

.archive.post-type-archive-project .lsx-projects-container, .archive.tax-project-group .lsx-projects-container { margin-top: -4rem; }

.archive.post-type-archive-project .site-main, .archive.tax-project-group .site-main { margin: 0; width: auto; }

@media (min-width: 768px) { .single.single-project .site-main > .project > .row, .single.single-project .site-main > .project > .row > [col*="col-"]:last-child { display: -webkit-box; display: -ms-flexbox; display: flex; } }

.single.single-project .entry-fixed-sidebar-wrapper { width: 100%; }

.single.single-project .entry-fixed-sidebar { padding: 2rem; }

.single.single-project .entry-meta-single { margin-top: 2rem; }

.single.single-project .entry-meta-single:first-child { margin-top: 0; }

.single.single-project .entry-meta-key { font-weight: bold; margin-top: 2rem; }

.single.single-project .entry-meta-key:first-child { margin-top: 0; }

.single.single-project .entry-meta-value-team { margin: 0 -0.6rem; }

.single.single-project .entry-meta-value-team > a { border-radius: 50%; display: inline-block; height: 65px; margin: 1.2rem 0.6rem 0; overflow: hidden; width: 65px; }

.single.single-project .tab-pane, .single.single-project .tab-pane-fake { padding: 4rem; }

@media (min-width: 768px) { .single.single-project .tab-pane, .single.single-project .tab-pane-fake { padding: 4rem 2rem; } }

.single.single-project .nav-tabs { margin-top: 4.25rem; }

.single.single-project .lsx-projects-section:last-child { margin-bottom: -8.5rem; }

.single.single-project .lsx-projects-section:nth-child(odd) { background-color: transparent; }

.single.single-project .lsx-projects-section h3.lsx-title:after { display: block; }

.single.single-project .entry-tabs, .archive.post-type-archive-project .entry-tabs, .archive.tax-project-group .entry-tabs { margin-top: 4.25rem; }

@media (min-width: 768px) { .single.single-project .entry-tabs, .archive.post-type-archive-project .entry-tabs, .archive.tax-project-group .entry-tabs { margin-top: 0; } }

.single.single-project .nav-tabs, .archive.post-type-archive-project .nav-tabs, .archive.tax-project-group .nav-tabs { -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column nowrap; flex-flow: column nowrap; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; border-bottom: 0 none; margin: 0 0 4.25rem 0; padding-left: 0; }

.single.single-project .nav-tabs:before, .single.single-project .nav-tabs:after, .archive.post-type-archive-project .nav-tabs:before, .archive.post-type-archive-project .nav-tabs:after, .archive.tax-project-group .nav-tabs:before, .archive.tax-project-group .nav-tabs:after { display: none; }

@media (min-width: 768px) { .single.single-project .nav-tabs, .archive.post-type-archive-project .nav-tabs, .archive.tax-project-group .nav-tabs { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row nowrap; flex-flow: row nowrap; } }

.single.single-project .nav-tabs > li, .archive.post-type-archive-project .nav-tabs > li, .archive.tax-project-group .nav-tabs > li { margin-bottom: 0; width: 100%; }

@media (min-width: 768px) { .single.single-project .nav-tabs > li, .archive.post-type-archive-project .nav-tabs > li, .archive.tax-project-group .nav-tabs > li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; max-width: 350px; } }

@media (min-width: 768px) { .single.single-project .nav-tabs > li + li, .archive.post-type-archive-project .nav-tabs > li + li, .archive.tax-project-group .nav-tabs > li + li { margin-left: 5px; } }

.single.single-project .nav-tabs > li > a, .archive.post-type-archive-project .nav-tabs > li > a, .archive.tax-project-group .nav-tabs > li > a { border: 0 none; border-radius: 0; font-size: 16px; margin: 0; padding: 1rem 0; text-align: center; transition: all 300ms ease; }

@media (min-width: 768px) { .single.single-project .nav-tabs > li > a, .archive.post-type-archive-project .nav-tabs > li > a, .archive.tax-project-group .nav-tabs > li > a { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1 1 auto; flex: 1 1 auto; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }

@media (min-width: 992px) { .single.single-project .nav-tabs > li > a, .archive.post-type-archive-project .nav-tabs > li > a, .archive.tax-project-group .nav-tabs > li > a { font-size: 22px; } }

.single.single-project .nav-tabs > li.active > a, .archive.post-type-archive-project .nav-tabs > li.active > a, .archive.tax-project-group .nav-tabs > li.active > a { border: 0 none; position: relative; }

@media (min-width: 768px) { .single.single-project .nav-tabs > li.active > a:after, .archive.post-type-archive-project .nav-tabs > li.active > a:after, .archive.tax-project-group .nav-tabs > li.active > a:after { content: ''; border-style: solid; border-width: 0 6px 6px 6px; bottom: 0; height: 0; left: 50%; position: absolute; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 0; } }

@media (min-width: 768px) and (min-width: 992px) { .single.single-project .nav-tabs > li.active > a:after, .archive.post-type-archive-project .nav-tabs > li.active > a:after, .archive.tax-project-group .nav-tabs > li.active > a:after { border-width: 0 9px 9px 9px; } }

.widget.lsx-projects .lsx-projects-archive-link:before, .widget.lsx-projects .lsx-projects-archive-link:after { background-color: #DADDDF; }

.lsx-projects-slot .lsx-projects-groups > a:not(.btn), .lsx-projects-slot .lsx-projects-groups > a:not(.btn):active, .lsx-projects-slot .lsx-projects-groups > a:not(.btn):visited { color: #919191; }

.lsx-projects-slot .lsx-projects-groups > a:not(.btn):hover, .lsx-projects-slot .lsx-projects-groups > a:not(.btn):hover:active, .lsx-projects-slot .lsx-projects-groups > a:not(.btn):focus { color: #F7AE00; }

.entry-tabs .lsx-projects-slot { border-color: #DADDDF; }

.lsx-projects-slot .lsx-projects-title > a:not(.btn), .lsx-projects-slot .lsx-projects-title > a:not(.btn):active, .lsx-projects-slot .lsx-projects-title > a:not(.btn):visited { color: #4A4A4A; }

.lsx-projects-slot .lsx-projects-title > a:not(.btn):hover, .lsx-projects-slot .lsx-projects-title > a:not(.btn):hover:active, .lsx-projects-slot .lsx-projects-title > a:not(.btn):focus { color: #F7AE00; }

.lsx-projects-slot .lsx-projects-content a.moretag { background-color: #418AD0; color: #FFF; }

.lsx-projects-slot .lsx-projects-content a.moretag:hover { background-color: #F7AE00; color: #FFF; }

.lsx-projects-section .lsx-projects-slot .lsx-projects-content a.moretag { color: #FFF !important; }

.lsx-projects-section .lsx-projects-slot .lsx-projects-content a.moretag:hover { color: #FFF !important; }

#lsx-projects-slider .slick-dots > li > button { border-color: #4A4A4A; }

#lsx-projects-slider .slick-dots > li.slick-active > button { background-color: #4A4A4A; }

#lsx-projects-slider .slick-arrow { border-color: #4A4A4A; color: #4A4A4A; }

#lsx-projects-slider .slick-arrow:hover { border-color: #F7AE00; color: #F7AE00; }

#lsx-projects-slider .slick-arrow.slick-disabled { border-color: #DADDDF; color: #DADDDF; }

.single.single-project .entry-fixed-sidebar { background-color: #FFF; }

.single.single-project .tab-pane { background-color: #FFF; }

.single.single-project .nav-tabs > li > a, .archive.post-type-archive-project .nav-tabs > li > a, .archive.tax-project-group .nav-tabs > li > a { background-color: #FFF; }

.single.single-project .nav-tabs > li > a:hover, .archive.post-type-archive-project .nav-tabs > li > a:hover, .archive.tax-project-group .nav-tabs > li > a:hover { background-color: #FFF; }

.single.single-project .nav-tabs > li.active > a, .archive.post-type-archive-project .nav-tabs > li.active > a, .archive.tax-project-group .nav-tabs > li.active > a { background-color: #418AD0; color: #FFF; }

.single.single-project .nav-tabs > li.active > a:after, .archive.post-type-archive-project .nav-tabs > li.active > a:after, .archive.tax-project-group .nav-tabs > li.active > a:after { border-color: transparent transparent #F6F6F6 transparent; }

/*# sourceMappingURL=maps/lsx-projects.css.map */
