@mixin customizer-projects-link-colour($color: #418ad0, $hover: #f7ae00) {
	&,
	&:active,
	&:visited {
		color: $color;
	}

	&:hover,
	&:hover:active,
	&:focus {
		color: $hover;
	}
}

@mixin customizer-projects-body-colours(
	$bg: #f6f6f6,
	$breaker: #dadddf,
	$color: #4a4a4a,
	$link: #418ad0,
	$hover: #f7ae00,
	$small: #919191
) {
	.widget.lsx-projects {
		.lsx-projects-archive-link {
			&:before,
			&:after {
				background-color: $breaker;
			}
		}
	}

	.lsx-projects-slot {
		.lsx-projects-groups > a:not(.btn) {
			@include customizer-projects-link-colour($small, $hover);
		}

		.entry-tabs & {
			border-color: $breaker;
		}

		.lsx-projects-title > a:not(.btn) {
			@include customizer-projects-link-colour($color, $hover);
		}

		.lsx-projects-content {
			a.moretag {
				background-color: $link;
				color: #fff;

				&:hover {
					background-color: $hover;
					color: #fff;
				}
			}
		}
	}
	#primary.content-area {
		.lsx-projects-slot {
			.lsx-projects-content {
				a.moretag {
					color: #fff;

					&:hover {
						color: #fff;
					}
				}
			}
		}
	}

	.lsx-projects-section {
		.lsx-projects-slot {
			.lsx-projects-content {
				a.moretag {
					color: #fff !important;

					&:hover {
						color: #fff !important;
					}
				}
			}
		}
	}

	#lsx-projects-slider, #lsx-alt-products-slider {
		.slick-dots {
			& > li {
				& > button {
					border-color: $color;
				}

				&.slick-active > button {
					background-color: $color;
				}
			}
		}

		.slick-arrow {
			border-color: $color;
			color: $color;

			&:hover {
				border-color: $hover;
				color: $hover;
			}

			&.slick-disabled {
				border-color: $breaker;
				color: $breaker;
			}
		}
	}

	.single.single-project {
		.entry-fixed-sidebar {
			background-color: #fff;
		}
		.tab-pane {
			background-color: #fff;
		}
	}

	.single.single-project,
	.archive.post-type-archive-project,
	.archive.tax-project-group {
		.nav-tabs {
			& > li {
				& > a {
					background-color: #fff;

					&:hover {
						background-color: #fff;
					}
				}

				&.active > a {
					background-color: $link;
					color: #fff;

					&:after {
						border-color: transparent transparent $bg transparent;
					}
				}
			}
		}
	}
}
